header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

#timer-display {
    display: flex;
}

#timer-display > div {
    margin-left: 2%;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    
    flex-wrap :wrap;
    margin: 10% 15% 0;
    text-align: center;
    padding: 3%;
    border: none;
}

#questions {
    display: none;
    text-align: left;
}

#answersDisplay > button {
    padding: 1%;
    margin: 1%;
}

#resultDisplay {
    display: none;
}

#outro {
    display: none;
}

a {
    color: black;
}

form {
    margin: 2%;
}

#score_display {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#results_message {
    display: none;
}

/* At this time, styling is intentionally kept very simple. This may be revisited in the future. In respect to responsive design, h1 elements are to be displayed smaller
on small smartphone sized screens. */

/* Tablets. */
/* @media screen and (max-width: 992px) {} */
/* Large smartphones. */
/* @media screen and (max-width: 768px) {} */

/* Small smartphones */
@media screen and (max-width: 576px) {
.card h1 {
        font-size: 1.7rem;
    }
}